doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Simer Profile


        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Simerjeet Kaur
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', 
            aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#volunteer') Volunteer Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#contact') Contact Info

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Simerjeet
                        span.text-primary Kaur
                    .subheading.mb-5
                        | +61-476-864-266 ·
                        a(href='mailto:simerjeet2020@gmail.com') simerjeet2020@gmail.com
                    p.lead.mb-5
                        | A technology enthusiast with great business management skills. Experienced in Java, Python, Django, mySQL, Javascript, RestfulAPI, 
                        | HTML/CSS, Angular, AWS.Also, have worked on Docker, postgreSQL, JSON. I possess excellent analytical skills and excel at 
                        | documentation, change management, and product support on the delivery of projects. I have a firm hold over technical support 
                        | in programming languages and tools and management support in project management, project delivery and lifecycle methodology (Agile).
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/kaur-simerjeet/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/simerjeet')
                            i.fab.fa-github
                        //- a.social-icon(href='#')
                        //-     i.fab.fa-twitter
                        a.social-icon(href='https://www.facebook.com/simerjeet.kaur.961/')
                            i.fab.fa-facebook-f

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Back-End Developer
                            .subheading.mb-3 PETspot Pty. Ltd.
                            p
                                | PETspot is a centralised online platform for the ethical selling and purchasing of pets. It
                                | incorporates Breeders, Shelters, Personal sellers and Pet services all on one site in a
                                | bid to unify Australia's pet community. 
                                | I work as a back-end developer to build PETspot 2.0 Mobile application and website. 
                            
                            h5.mb-0 Technologies :
                            p 
                                |Python,Flask, RESTful API, AWS Lambda, AWS CodeCommit, AWS RDS. 

                        .flex-shrink-0
                            span.text-primary October 2020 - Present
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Technical Analyst
                            .subheading.mb-3 Loyalt Pty. Ltd.
                            p
                                | LoyalT is an all in one rewards management platform designed to help merchants digitize their loyalty program. 
                                | I work as a full-stack developer in curating new ideas for the application and implement the complete work-flow 
                                | of the application.
                            
                            h5.mb-0 Technologies :
                            p 
                                |Django, AngularJS, ionic 5 (Android + iOS), PostgreSQL , Django Unit Testing Framework

                        .flex-shrink-0
                            span.text-primary May 2020 - August 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Project Specialist
                            .subheading.mb-3 Deakin University
                            p
                                | Worked on a progressive web application for people over 50s who wish to start a new business for one-stop
                                | resource, with links to relevant sources and videos to make it accessible to the targeted audience.
                                | I worked on gathering requirements for the application from the clients, documenting project specifications and activities and, 
                                | build timelines and tasks to be assigned within the team.
                        .flex-shrink-0
                            span.text-primary July 2018 - October 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Technical Business Analyst/Application Support
                            .subheading.mb-3 Honeywell (via TCS)
                            p
                                | Responsible for the complete software development life cycle of multiple web applications .
                                | I worked the server migration and data migration process with the testing of the applications. Also, 
                                | I handled the communication with the clients, documentation, bug fixes and, enhancements of the application
                                | as per the requirement gathering with the clients.
                            
                            h5.mb-0 Technologies :
                            p 
                                |Java, JSON, HTML/CSS, JavaScript, AngularJS, mysql
                        .flex-shrink-0
                            span.text-primary June 2015 - June 2017

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Deakin University
                            .subheading.mb-3 Master of Business Administration
                            div Specialisation- Project Management
                            p GPA: 6.2/7
                        .flex-shrink-0
                            span.text-primary July 2017- June 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 SUS College of Technology,India
                            .subheading.mb-3 Bachelors in Technology
                            p CGPA: 9.1/10
                        .flex-shrink-0
                            span.text-primary August 2011 - May 2015

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-angular
                        //- li.list-inline-item
                        //-     i.fab.fa-react
                        //- li.list-inline-item
                        //-     i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.fab.fa-aws
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.fab.fa-docker
                        li.list-inline-item
                            i.fas.fa-database
                        li.list-inline-item
                            i.fab.fa-git
                        li.list-inline-item
                            i.fab.fa-java
                        //- li.list-inline-item
                        //-     i.fab.fa-android
                        li.list-inline-item
                            i.fab.fa-npm
                        li.list-inline-item
                            i.fab.fa-chrome
                        li.list-inline-item
                            i.fab.fa-jira
                        li.list-inline-item
                            i.fab.fa-github
                        li.list-inline-item
                            i.fab.fa-wordpress
                        
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Responsive Website Development
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Flexible Backend design and development
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Automated Integration Testing , Error Handling & Debugging
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development Experience
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Business Research & Analysis
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Stakeholder Management
            hr.m-0

            // Volunteer
            section#volunteer.resume-section
                .resume-section-content
                    h2.mb-5 Volunteer Experience
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Account Admin at Forever Friends Animal Rescue - Create volunteer accounts and manage their
                            |  access to the website. 
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Event Volunteer, Deakin University Red Shirt Volunteer Program (2018) - Part of the operations team to
                            | conducting orientation week events.
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Student Mentor, Deakin University PG Mentor Program (2018)Mentored and provided support to first-year
                            | students for a smooth transition in university and Melbourne.
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Java Certification, Pic N Frames Technologies (2015)- Developed web application based on student record
                            | system for a university.
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 2
                            sup nd 
                            | Blood Donator, University and Tata Consultancy Services (2011-2017)-Donated blood multiple times due to
                            | rare blood type to different blood donation camps.

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Apart from being a web developer and Business Analyst, I enjoy most of my time playing badminton and board games. 
                        | Apart from this, I also love to visit new places with mountains and beaches on long drives.
                    p.mb-0
                        | Also,I follow drama, comedy and fantasy genre movies and television shows, 
                        |I am an aspiring chef, and I enjoy spending my free time reading books and cooking.

            hr.m-0

            // Contact Info
            section#contact.resume-section
                .resume-section-content
                    h2.mb-5 Contact Info
                    ul.fa-ul.mb-0
                        li
                            i.fas.fa-phone.text-danger
                            a(href='tel:+61476864266') +61-476-864-266

                        li
                            i.fas.fa-at.text-danger
                            a(href='mailto:simerjeet2020@gmail.com') simerjeet2020@gmail.com
            

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')