// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$blue: #00786d;

// Override Bootstrap default state colors

$primary: $blue;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
